<div class="navbar">
  <a class="active" href="/inicio" title="Inicio"> Inicio</a> 
  <a href="/nosotros" title="Nosotros"> Nosotros</a> 
  <a href="/noticias" title="Noticias"> Noticias</a> 
  <a href="/contactos" title="Mision"> Contactos</a>
  <a href="/metas" title="Vision"> Metas</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<div class = "main_title"><p>Seccion de noticias</p></div>
<iframe class="vid1" src="https://www.youtube.com/embed/<%= @randlink1%>" frameborder="0" allowfullscreen="" style="width:49vw;height:28vw;margin:auto;display:inline-block;float:none;"></iframe>
<iframe class="vid2" src="https://www.youtube.com/embed/<%= @randlink2%>" frameborder="0" allowfullscreen="" style="width:49vw;height:28vw;margin:auto;display:inline-block;float:none;"></iframe>
<section class = "main_articles">
<%= image_tag "articulos/1.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/2.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/3.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/4.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/5.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/6.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/7.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/8.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/9.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/10.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/11.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
<%= image_tag "articulos/12.png", style: 'width: 49%;margin:auto;display:inline-block;float: none;'%>
</section>

